NODE_ENV=development

GOOGLE_CLOUD_PROJECT=

GOOGLE_CLOUD_REGION=europe-west1

CLOUD_SQL_CONNECTION_NAME=

DATABASE_URL=

JWT_SECRET=

APP_ENCRYPTION_KEY=

RESEND_API_KEY=

OPENAI_API_KEY=

PAYSTACK_SECRET_KEY=